<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>knyfe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="knyfe is a python tool for rapidly exploring and preprocessing datasets">
  <meta name="author" content="Manuel Ebert">
  <link rel="shortcut icon" href="img/favicon.ico">
  <!-- Le styles -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/knyfe.css') }}" rel="stylesheet">
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  <style>
  body {
    padding-top: 60px;
    /* 60px to make the container go all the way to the bottom of the topbar */
  }

  .block {
    width: 750px;
  }

  .pre {
    white-space: pre-line;
  }

  hr {
    margin: 0px 5px 0px 5px;
    padding: 0;
  }
  </style>
  <link rel="shortcut icon" href="img/favicon.png">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="span10 content offset2">
        {% for entry in entries %}
          <div class="block">
            <h2>{{ entry['title'] | re_sub("^#", '') }}</h2>
            <p>{{ entry['time'] }}, {{ entry['date'] }}</p>
            <p>{{ entry['body'] | safe }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>

</html>
