<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> {{ jrnl_name }} | jrnl web</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap  -->
  <link href="{{ url_for('static', filename='bower/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
  {# <script src="{{ url_for('static', filename='bower/jquery/dist/jquery.min.js') }}"></script> #}
  {# <script src="{{ url_for('static', filename='bower/bootstrap/dist/js/bootstrap.min.js') }}"></script> #}


  <!-- CSS -->
  <link rel='stylesheet' type="text/css" href="/css/main.css"> 

</head>

<body>
  <div id="root" class="container">

    <div class="input-group">
      <input id="search-input" placeholder="Search Journal" type="text" class="form-control" name="q"
      tabindex="1" autocapitalize="off" {# autofocus="" #} autocomplete="off" spellcheck="false">

      <span class="input-group-btn">
        <button class="btn btn-primary">Search</button>
      </span>
    </div>

    <div class="card-columns">
        {% for e in entries %}
        <div class="card {% if e['starred'] %}starred{% endif %}">
          <div class="card-block">

            <span class="card-title"><br />
              <a class="anchor" name="{{ e['date'] }}-{{ e['slug'] }}"
              href="#{{ e['date'] }}-{{ e['slug'] }}">{{ e['title'] }}</a>
            </span>

            <p class="card-text">
              {{ e['body'] | safe }}
            </p><br />

            <p class="card-text">
              <small id="time" class="text-muted" datetime="{{ e['date'] }} {{ e['time'] }}"
                    title="{{ e['date'] }} {{ e['time'] }}">
                    {{ e['date'] }} {{ e['time'] }}
              </small>
            </p>

          </div>
        </div>
        {% endfor %}
    </div>

  </div>
</body>

</html>
